<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../css/nav.css">
      <link rel="stylesheet" href="../css/main.css">
      <script src="../js/clients.js"></script>
      <script src="../js/addClient.js"></script>
    <title>Tax List</title>
  </head>
  <main>
    <body>
        <h1>Tax Main Page</h1>
        <div class="topnav">
            <a class="active" href="#home">Home</a>
            <a href="addClient.html">Add Client</a>
            <a href="gmail.html">Company Outlook</a>
            <a href="contact.html">Contact</a>
        </div>

        <ul>
            <li><a href="main.html">Home</a></li>
            <li><a href="ahsoka.html">Ahsoka Tano</a></li>
            <li><a class="active" href="#home">Anakin Skywalker</a></li>
            <li><a href="grogu.html">Grogu</a></li>
            <li><a href="obi-wan.html">Obi-Wan Kenobi</a></li>
            <li><a href="qui-gon.html">Qui-Gon Jinn</a></li>
        </ul>
        <div onload="displayClientList()"></div>
          
        <div class="content">
            <p>
                <h2>Anakin Skywalker</h2>
                <p>Email: vader@gmail.com</p>
                <p>Phone Number: 208-716-7232</p>
                <p>Tax Documents: W2, 1098-T, Property Tax</p>
            </p>
        </div>
    </body>
  </main>   
</html>