<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../css/nav.css">
      <link rel="stylesheet" href="../css/main.css">
      <script src="../js/clients.js"></script>
      <script src="../js/addClient.js"></script>

    <title>Tax List</title>
  </head>
  <main>
    <body>
        <h1>Tax Main Page</h1>
        <div class="topnav">
            <a href="main.html">Home</a>
            <a href="addClient.html">Add Client</a>
            <a href="gmail.html">Company Outlook</a>
            <a class="active" href="#home" >Contact</a>
        </div>

        <ul>
            <li><a class="active" href="#home">Home</a></li>
            <li><a href="ahsoka.html">Ahsoka Tano</a></li>
            <li><a href="anakin.html">Anakin Skywalker</a></li>
            <li><a href="grogu.html">Grogu</a></li>
            <li><a href="obi-wan.html">Obi-Wan Kenobi</a></li>
            <li><a href="qui-gon.html">Qui-Gon Jinn</a></li>
        </ul>
        <div onload="displayClientList()"></div>
          
        <div class="content">
            <p>
                <h2>Office Contact Inforamtion </h2>
                <p>Company Email: companyName@gmail.com</p>
                <p>Office Phone: 208-716-7894</p>
                <p>CEO Extection: 208-716-1526</p>
                <p>IT Extenction: 208-716-7266</p>
                <p>Customer Service Phone: 208-716-4457</p>
            </p>
        </div>
    </body>
  </main>   
</html>