<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../css/nav.css">
      <link rel="stylesheet" href="../css/main.css">
      <script src="../js/clients.js"></script>
      <script src="../js/addClient.js"></script>
    <title>Tax List</title>
  </head>
  <main>
    <body>
        <h1>Tax Main Page</h1>
        <div class="topnav">
            <a href="main.html">Home</a>
            <a href="addClient.html">Add Client</a>
            <a class="active" href="#home">Company Outlook</a>
            <a href="contact.html" >Contact</a>
        </div>

        <ul>
            <li><a class="active" href="#home">Home</a></li>
            <li><a href="ahsoka.html">Ahsoka Tano</a></li>
            <li><a href="anakin.html">Anakin Skywalker</a></li>
            <li><a href="grogu.html">Grogu</a></li>
            <li><a href="obi-wan.html">Obi-Wan Kenobi</a></li>
            <li><a href="qui-gon.html">Qui-Gon Jinn</a></li>
        </ul>
        <div onload="displayClientList()"></div>
          
        <div class="content">
            <p>
                <iframe src="https://www.outlook.com/" width="80%" height="500" title="G-mail">
                </iframe>
            </p>
        </div>
    </body>
  </main>   
</html>